.container {
  display: grid;
  grid-template-columns: 340px 1fr;
  column-gap: 60px;
  & form{
    margin: 12vh 0 1vh;
  }
}
.btnsWrapper {
  justify-content: flex-end;
  width: 100%;
}

.wrapperOrders {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-block: 40px 0;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding-inline-end: 10px;
}
.link{
  color: #fff;
  text-decoration: none;
}
