.container {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  margin-top: 24px;
  gap: 40px;
  align-items: center;
}
.total {
  font-size: 48px;
  font-family: "Iceland";
  display: flex;
  align-items: center;
  gap:8px;
  svg {
    height: 36px;
    width: auto;
  }
}
