@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  background: var(--bg);
}
:root {
  --primary: #f2f2f3;
  --secondary: #8585ad;
  --bg: #131316;
  --modal: #1c1c21;
  --mint:#0CC;
  scrollbar-width: unset !important;
  scrollbar-color: var(--secondary) #2f2f37 !important;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.d-block {
  display: block;
}
.t-center {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button,
svg {
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.center-layout {
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.my-custom-scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}
.constructor-element {
  flex-grow: 0;
}
.my-custom-scroll::-webkit-scrollbar {
  width: 8px !important;
}
.my-custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--secondary) !important;
  border-radius: 6px !important;
}

.my-custom-scroll::-webkit-scrollbar-track {
  background-color: #2f2f37 !important;
  border-radius: 6px !important;
}
@-moz-document url-prefix() {
  scrollbar-color: #2f2f37 #8585ad;
  scrollbar-width: thin;
}

.text-shadow{
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.50);
}
