.container {
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 0;
  &.hover{
    p{
      border: 1px solid #4c4cff;
    }

  }
}
.inner {
  max-width: 580px;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(50px);
  ul {
    width: 100%;
    padding-inline-start: 40px;
  }
}
.emptyBunTop{
  padding: 16px 24px;
  display: inline-block;
  border-radius: var(--top-constructor-item-border-radius);
  background: var(--background-element);
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  font-family: 'Jet Brains Mono';
  font-size: 16px;
  color: #F2F2F3;
  flex-grow: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 48px;
  border: 1px solid transparent;
  margin: 0;
  &.bottomBun{
    border-radius: var(--bottom-constructor-item-border-radius);
  }
  &.other{
    border-radius: var(--common-border-radius-s);
  }
}

.fullWidth{
  width:100%;
}
.dragIcon{
  position: absolute;
  transform: translateX(-40px) translateY(-50%);
  top:50%;
}
.li{
  position: relative;
}
.leftSide{
  /* justify-self: end; */
}
